In [120]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from pprint import pprint
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import RandomizedSearchCV
import pickle
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import statsmodels.api as sm

In [102]:
df = pd.read_csv("dataset.csv",encoding='cp1252')

In [103]:
df.head()

,Ano,Mulheres,TempoM,Idade-M,Pais-M,Homens,TempoH,Idade-H,Pais-H
0,1991,Maria Luisa Servin,54:02:00,29,Mexico,Arturo Barrios,44:47:00,29,Mexicano
1,1992,Maria Del Carmen Diaz,54:00:00,32,Mexico,Simon Chemwoiywo,44:08:00,24,Quenia
2,1993,Hellen Kimaiyo,50:26:00,25,Quenia,Simon Chemwoiywo,43:20:00,25,Quenia
3,1994,Derartu Tulu,51:17:00,22,Etiopia,Ronaldo da Costa,44:11:00,24,Brasil
4,1995,Carmem Oliveira,50:53:00,30,Brasil,Paul Tergat,43:12:00,26,Quenia

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
Ano         28 non-null int64
Mulheres    28 non-null object
TempoM      28 non-null object
Idade-M     28 non-null int64
Pais-M      28 non-null object
Homens      28 non-null object
TempoH      28 non-null object
Idade-H     28 non-null int64
Pais-H      28 non-null object
dtypes: int64(3), object(6)
memory usage: 2.1+ KB

In [105]:
df[['hour_TempoM', 'minute_TempoM', 'second_TempoM']] = df['TempoM'].astype(str).str.split(':', expand=True).astype(int)
df[['hour_TempoH', 'minute_TempoH', 'second_TempoH']] = df['TempoH'].astype(str).str.split(':', expand=True).astype(int)

In [106]:
df.drop(['TempoM','TempoH','second_TempoM','second_TempoH'], axis=1, inplace=True)
df= df.rename(columns={'hour_TempoM': 'minM', 'minute_TempoM': 'segM','hour_TempoH':'minH','minute_TempoH':'segH'} )
df.head()

,Ano,Mulheres,Idade-M,Pais-M,Homens,Idade-H,Pais-H,minM,segM,minH,segH
0,1991,Maria Luisa Servin,29,Mexico,Arturo Barrios,29,Mexicano,54,2,44,47
1,1992,Maria Del Carmen Diaz,32,Mexico,Simon Chemwoiywo,24,Quenia,54,0,44,8
2,1993,Hellen Kimaiyo,25,Quenia,Simon Chemwoiywo,25,Quenia,50,26,43,20
3,1994,Derartu Tulu,22,Etiopia,Ronaldo da Costa,24,Brasil,51,17,44,11
4,1995,Carmem Oliveira,30,Brasil,Paul Tergat,26,Quenia,50,53,43,12

In [107]:
df['SegM'] = df['minM']*60+df['segM']
df['SegH'] = df['minH']*60+df['segH']
df.drop(['minM','minH','segM','segH'], axis=1, inplace=True)

In [108]:
df

,Ano,Mulheres,Idade-M,Pais-M,Homens,Idade-H,Pais-H,SegM,SegH
0,1991,Maria Luisa Servin,29,Mexico,Arturo Barrios,29,Mexicano,3242,2687
1,1992,Maria Del Carmen Diaz,32,Mexico,Simon Chemwoiywo,24,Quenia,3240,2648
2,1993,Hellen Kimaiyo,25,Quenia,Simon Chemwoiywo,25,Quenia,3026,2600
3,1994,Derartu Tulu,22,Etiopia,Ronaldo da Costa,24,Brasil,3077,2651
4,1995,Carmem Oliveira,30,Brasil,Paul Tergat,26,Quenia,3053,2592
5,1996,Roseli Machado,28,Brasil,Paul Tergat,27,Quenia,3152,2630
6,1997,Martha Tenorio,31,Equador,Emerson Iser Bem,24,Brasil,3124,2680
7,1998,Olivera Jevtic,21,Iugoslavia,Paul Tergat,29,Quenia,3095,2687
8,1999,Lydia Cheromei,22,Quenia,Paul Tergat,30,Quenia,3089,2675
9,2000,Lydia Cheromei,23,Quenia,Paul Tergat,31,Quenia,3033,2637
10,2001,Maria Zeferina Baldaia,29,Brasil,Tesfaye Jifar,25,Etiopia,3132,2655
11,2002,Marizete de Paula Rezende,28,Brasil,Robert Kipkoech Cheruiyot,24,Quenia,3242,2699
12,2003,Margaret Okayo,27,Quenia,Marilson Gomes dos Santos,26,Brasil,3084,2630
13,2004,Lydia Cheromei,27,Quenia,Robert Kipkoech Cheruiyot,26,Quenia,3181,2683
14,2005,Olivera Jevtic,28,Servia e Montenegro,Marilson Gomes dos Santos,28,Brasil,3098,2662
15,2006,Lucï¿½lia Peres,25,Brasil,Franck Caldeira,23,Brasil,3084,2646
16,2007,Alice Timbilili,24,Quenia,Robert Kipkoech Cheruiyot,29,Quenia,3084,2683
17,2008,Yimer Wude Ayalew,21,Etiopia,James Kipsang,25,Quenia,3097,2683
18,2009,Pasalia Chepkorir,21,Quenia,James Kipsang,26,Quenia,3150,2680
19,2010,Alice Timbilili,27,Quenia,Marilson Gomes dos Santos,33,Brasil,3019,2643
20,2011,Priscah Jeptoo,27,Quenia,Tariku Bekele,24,Etiopia,2928,2615
21,2012,Maurine Kipchumba,24,Quenia,Edwin Kipsang,25,Quenia,3101,2644
22,2013,Nancy Kipron,34,Quenia,Edwin Kipsang,26,Quenia,3118,2628
23,2014,Yimer Wude Ayalew,27,Etiopia,Dawit Admasu,19,Etiopia,3043,2704
24,2015,Yimer Wude Ayalew,28,Etiopia,Stanley Biwott,29,Quenia,3241,2671
25,2016,Jemima Sumgong,32,Quenia,Leul Aleme,24,Etiopia,2881,2693
26,2017,Flomena Cheyech Daniel,35,Quenia,Dawit Admasu,22,Etiopia,3018,2657
27,2018,Sandrafelis Tuei,30,Quenia,Belahy Bezabh,23,Etiopia,3020,2703

In [139]:
df['Pais-H'].value_counts()

Quenia      15
Brasil       6
Etiopia      6
Mexicano     1
Name: Pais-H, dtype: int64

In [140]:
df['Homens'].value_counts()

Paul Tergat                  5
Marilson Gomes dos Santos    3
Robert Kipkoech Cheruiyot    3
Dawit Admasu                 2
Edwin Kipsang                2
Simon Chemwoiywo             2
James Kipsang                2
Tesfaye Jifar                1
Franck Caldeira              1
Leul Aleme                   1
Arturo Barrios               1
Emerson Iser Bem             1
Tariku Bekele                1
Stanley Biwott               1
Belahy Bezabh                1
Ronaldo da Costa             1
Name: Homens, dtype: int64

In [137]:
df['Pais-M'].value_counts()

Quenia                 14
Brasil                  5
Etiopia                 4
Mexico                  2
Servia e Montenegro     1
Iugoslavia              1
Equador                 1
Name: Pais-M, dtype: int64

In [141]:
df['Mulheres'].value_counts()

Yimer Wude Ayalew            3
Lydia Cheromei               3
Olivera Jevtic               2
Alice Timbilili              2
Margaret Okayo               1
Sandrafelis Tuei             1
Nancy Kipron                 1
Hellen Kimaiyo               1
Maria Del Carmen Diaz        1
Lucï¿½lia Peres              1
Maurine Kipchumba            1
Carmem Oliveira              1
Roseli Machado               1
Priscah Jeptoo               1
Jemima Sumgong               1
Martha Tenorio               1
Derartu Tulu                 1
Pasalia Chepkorir            1
Flomena Cheyech Daniel       1
Marizete de Paula Rezende    1
Maria Zeferina Baldaia       1
Maria Luisa Servin           1
Name: Mulheres, dtype: int64

In [125]:
print(table)

A 22x7 contingency table with counts:
[[0.5 0.5 0.5 0.5 0.5 2.  0.5]
 [1.  0.5 0.5 0.5 0.5 0.5 0.5]
 [0.5 0.5 1.  0.5 0.5 0.5 0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [1.  0.5 0.5 0.5 0.5 0.5 0.5]
 [0.5 0.5 0.5 0.5 0.5 3.  0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [0.5 0.5 0.5 0.5 1.  0.5 0.5]
 [0.5 0.5 0.5 0.5 1.  0.5 0.5]
 [1.  0.5 0.5 0.5 0.5 0.5 0.5]
 [1.  0.5 0.5 0.5 0.5 0.5 0.5]
 [0.5 1.  0.5 0.5 0.5 0.5 0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [0.5 0.5 0.5 1.  0.5 0.5 1. ]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [1.  0.5 0.5 0.5 0.5 0.5 0.5]
 [0.5 0.5 0.5 0.5 0.5 1.  0.5]
 [0.5 0.5 3.  0.5 0.5 0.5 0.5]]

In [50]:
numeric_features = ['Idade','Passagem']
numeric_transformer = Pipeline(steps=[('scaler',StandardScaler())])

In [52]:
categorical_features = ['Sexo','Embarque', 'Classe']
categorical_transformer = Pipeline(steps=[('oneh',OneHotEncoder(handle_unknown='ignore'))])

In [53]:
preprocessor = ColumnTransformer( transformers=[
    ('num',numeric_transformer,numeric_features),
    ('cat', categorical_transformer, categorical_features)
])

In [54]:
clf = Pipeline(steps=[('preprocessor', preprocessor),
                       ('classifier', RandomForestClassifier(n_estimators=100, max_depth=2))])

In [55]:
X = df.drop('Status',axis=1)

In [56]:
y = df['Status']

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [59]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('scaler',
                                                                   StandardScaler(copy=True,
                                                                                  with_mean=True,
                                                                                  with_std=True))],
                                                           verbose=False),
                                                  ['Idade', 'Passagem']),
                                                 ('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('oneh',
                                                                   OneHotEncoder(cat...
                 RandomForestClassifier(bootstrap=True, class_weight=None,
                                        criterion='gini', max_depth=2,
                                        max_features='auto',
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [60]:
print('model score: %.3f'%clf.score(X_test, y_test))

model score: 0.765

In [62]:
filename = 'RFmodel.sav'
pickle.dump(clf, open(filename, 'wb'))
# Carregando o modelo do disco
loaded_model = pickle.load(open(filename, 'rb'))
# Atribui a variável result o score do modelo
result = loaded_model.score(X_test, y_test)
#Imprime o resultado
print(result)

0.7653631284916201